$c-white: #FFFFFF;

$c-gray-50: #F7F8FA;
$c-gray-100: #E6E8EB;
$c-gray-200: #AFB2B1;
$c-gray-300: #DDDDDD;
$c-gray-500: #808080;
$c-gray-800: #494D4B;

$c-green-500: #04D361;

$c-purple-300: #9F75FF;
$c-purple-400: #9164FA;
$c-purple-500: #8257E5;
$c-purple-800: #6F48C9;